
   <div class="navbar" style="background-color: #103783;">
    <ul>
      <li><a href="#" routerLink="/dashboard">Home</a></li>
    </ul>
  </div>
<div class="container">
    <div class="form-box">
      <h2>Forget Password</h2>
  
      <form [formGroup]="forgetForm" (ngSubmit)="onSubmitEmail()" *ngIf="!showOtpSection">
        <div class="form-group">
          <label>Email</label>
          <input type="email" formControlName="recipient" required />
        </div>
        <button type="submit" style="background-color:#103783;">Send OTP</button>
      </form>
  
      <form [formGroup]="resetForm" (ngSubmit)="onSubmitReset()" *ngIf="showOtpSection" class="fade-in">
        <div class="otp-group">
          <label>Enter OTP</label>
          <div class="otp-inputs">
            <input *ngFor="let ctrl of otpControls; let i = index"
                   maxlength="1"
                   (input)="onOtpInput($event, i)"
                   [formControl]="ctrl"
                   type="text" />
          </div>
        </div>
  
        <div class="form-group">
          <label>New Password</label>
          <input type="password" formControlName="newPassword" />
        </div>
  
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" formControlName="confirmPassword" />
        </div>
  
        <button type="submit" style="background-color: #103783;">Reset Password</button>
      </form>
    </div>
  </div>
  
  