
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<app-navbar></app-navbar>
<div class="profile-container">
  <div class="profile-card">
     <button class="back-btn" onclick="history.back()">
      <i class="bi bi-arrow-left"></i> Back
    </button>
    <div class="profile-image-container">

       <ng-container *ngIf="userdata.userImg else aliasBlock">
          <img [src]="userdata.userImg"  class="profile-image" alt="User Image">
           <label class="image-upload-btn">
        <input type="file" hidden />
        <i class="bi bi-camera-fill"></i>
      </label>
          <!-- <img [src]="user.userImg" style="border-radius: 50%;height: 100px;width:100px;" alt=""> -->
          <!-- <img [src]="'data:image/png;base64,' + s.fileData" alt="profile" class="avatar-img" (error)="s.fileData = null" /> -->
        </ng-container>

        <ng-template #aliasBlock>
          <div class="avatar-fallback">
            {{ getInitials(userdata.userName) }}
          </div>
        </ng-template>

      <!-- <img src="https://i.pravatar.cc/150?img=32" class="profile-image" alt="User Image" />
      <label class="image-upload-btn">
        <input type="file" hidden />
        <i class="bi bi-camera-fill"></i>
      </label> -->
    </div>
    <h2 class="username">{{userdata.userName}}</h2>
    <p class="subtitle">Update User profile information</p>

    <form class="profile-form" [formGroup]="inputData" (ngSubmit)="updateUserById()">
      <div class="form-group">
        <label>Full Name</label>
        <input type="text" placeholder="Enter full name" formControlName="userName" [(ngModel)]="userdata.userName"/>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" placeholder="Enter email address" formControlName="email" [(ngModel)]="userdata.email"/>
      </div>
      <!-- <div class="form-group">
        <label>Address</label>
        <input type="tel" placeholder="Enter address" formControlName="address" [(ngModel)]="userdata.address" />
      </div> -->

      <div class="form-group">
        <label>Date of Birth</label>
        <input type="date" />
      </div>

      <div class="form-group">
        <label>Address</label>
        <textarea rows="3" placeholder="Enter address"  formControlName="address" [(ngModel)]="userdata.address"></textarea>
      </div>

      <div class="form-group toggle-group">
        <label>Active Status</label>
        <label class="switch">
          <input type="checkbox" checked />
          <span class="slider round"></span>
        </label>
      </div>
      <div class="form-actions">
        <button type="button" class="cancel-btn">Cancel</button>
        <button type="submit" class="save-btn">Update Profile</button>
      </div>
    </form>
  </div>
</div>
<!-- <p>{{userdata | json}}</p> -->



</body>
</html>