    /* Top Navigation Bar */
    .navbar {
        /* background-color: #34acf1; */
        padding: 15px;
        /* position: fixed; */
        width: 100%;
        /* top: 0;
        left: 0; */
        /* z-index: 10; */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }
  
      .navbar ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
      }
  
      .navbar ul li {
        margin: 0 15px;
      }
  
      .navbar a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 10px;
        border-radius: 5px;
        /* transition: background-color 0.3s ease, transform 0.3s ease; */
      }
  
      .navbar a:hover {
        background-color: #fff;
        color: black;
        transform: scale(1.1);
      }

  
      .custom-modal {
        border-radius: 1rem;
        border: 2px solid #103783;
        box-shadow: 0 0 30px rgba(15, 50, 163, 0.4);
      }
      .modal-header {
        border-bottom: none;
        background-color: #103783;
      }
      .modal-footer {
        background-color: #f8f9fa;
      }
      
      