<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dark Theme Dashboard</title>
  <style>

   
  </style>
</head>
<body>

  <!-- Navbar -->
  <div class="navbar bg-primary">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#" routerLink="/adminProfile">Profile</a></li>
      <li>
        <a href="#" class="btn-link" (click)="logout()">Logout</a></li>
    </ul>
  </div>
  <!-- <input type="text" [(ngModel)]="searchText"> -->
  <!-- <ul *ngFor="let user of userData.content|filter:searchText"> 
   <p class="text-light">{{user.userName|filter:searchUserData}}</p>
  </ul> -->
  <!-- Main Content -->
  <div class="container">
    <div class="row p-4">
      <h1>Dashboard</h1>
    </div>
    <div class="table-container">
      <div class="row">
        <div class="col-md-6"></div>
      </div>
        <!-- <h5>Total Users: {{userData.totalElements}}</h5>
        <h3>Total Record: {{pageSize}}</h3> -->
      <br>
        <div class="d-flex">
          <!-- <input type="text" placeholder="search users" class="form-control w-50"  [(ngModel)]=" searchUserData " >
          <button  class="btn btn-primary" (click)="searchUser()">Search</button> -->
          <div class="search-container">
            <input type="text" placeholder="Search..." class="search-input" [(ngModel)]=" searchUserData " />
            <button class="search-btn btn-primary" (click)="searchUser()">
              <i class="bi bi-search"></i>  <!-- This shows a search icon -->

            </button>
          </div>
          <button  class="btn btn-primary" (click)="reset()">Reset</button>
          <button  class="btn btn-primary" (click)="downlodUserReports()">Download Reports </button>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <h5> Registered Users</h5>
          </div>
          <div class="col-md-6 text-end">
           <h5><b>Total User: {{userData.totalElements}}</b></h5>
          </div>
        </div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Img</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr><input type="text" class="w-100 form-control"></tr> -->
          <tr *ngFor="let user of userData.content;index as i">
            <td>{{i+1}}</td>
            <td>
              <ng-container *ngIf="user.userImg else aliasBlock">
                <img [src]="user.userImg" style="border-radius: 50%;height: 100px;width:100px;" alt="">
                <!-- <img [src]="user.userImg" style="border-radius: 50%;height: 100px;width:100px;" alt=""> -->
                <!-- <img [src]="'data:image/png;base64,' + s.fileData" alt="profile" class="avatar-img" (error)="s.fileData = null" /> -->
              </ng-container>
              <ng-template #aliasBlock>
                <div class="avatar-fallback">
                  {{ getInitials(user.userName) }}
                </div>
              </ng-template>

            </td>
            
            

            <td>{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td>
              <!-- viewUser -->
              <button class="view-btn btn-primary"><a href="#" [routerLink]="['/viewUser',user.id]" class="text-light text-decoration-none">View</a></button>
              <button class="edit-btn"><a href="#" [routerLink]="['/updateUser',user.id]" class="text-light text-decoration-none">Edit</a></button>
              <button class="delete-btn" (click)="deleteById(user.id)">Delete</button>
            </td>
          </tr>
          <!-- <tr>
            <td>2</td>
            <td>Jane Smith</td>
            <td>jane.smithexample.com</td>
            <td>
              <button class="edit-btn">Edit</button>
              <button class="delete-btn">Delete</button>
            </td>
          </tr> -->
          <!-- <tr>
            <td>3</td>
            <td>Michael Brown</td>
            <td>michael.brownexample.com</td>
            <td>
              <button class="edit-btn">Edit</button>
              <button class="delete-btn">Delete</button>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    
  </div>
  <div>
    <div>
    </div>
  </div>
  <nav aria-label="Page navigation example" class="w-100" style="display: flex;justify-content: center;">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" aria-label="Previous" (click)="Onprevious()" class="btn onPrevious-btn bg-light" [class.disabled]="pageIndex == 0" >
          <span aria-hidden="true">&laquo;</span>
          <!-- <span class="sr-only">Previous</span> -->
        </a>
      </li>
      <li class="page-item"><a class="page-link">{{pageIndex + 1 }} of {{userData.totalPages}} pages</a></li>
      <li class="page-item">
        <a class="page-link" aria-label="Next" (click)="OnNext()" [class.disabled]="userData.last==true">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li>
        <!-- <p>
          Total Records:{{pageSize}}
        </p> -->
        <p style="display: flex; position: absolute;right:250px">
          <!-- Total Pages:{{userData.totalPages}} -->
          <b> Total Records:{{pageSize}} </b>
        </p>
      </li>
    </ul>
  </nav>

  <!-- <nav aria-label="Page navigation example" class="page" >
    <ul class="pagination d-flex justify-content-center">
      <li class="page-item">
        <p>
          Total Pages:{{userData.totalPages}}
        </p>
      </li>
      <li class="page-item">
      <button type="submit" (click)="Onprevious()" class="btn onPrevious-btn bg-light" [class.disabled]="pageIndex == 0"
        style="border: none;">
        Previous
      </button>
    </li>
    
      <li class="page-item"><a class="page-link active" href="#">{{pageIndex + 1 }}</a></li>
      <li class="page-item">
      <button type="submit" class="btn onNext-btn bg-light" style="border: none;" (click)="OnNext()" 
       [class.disabled]="userData.last==true">
        Next
      </button>
      </li>
    </ul>
  </nav> -->
  <!-- <p style="color: white;">{{userData | json}}</p> -->
  <!-- <div *ngFor="let user of userData">
    <p>{{user.u}}</p>
  </div> -->
</body>
</html>
<!-- <p class="text-light">
  {{userData | json}}
</p> -->
<!-- <p>        {{searchUserData.search}}</p> -->
<td>

</td>
<!-- <ng-container *ngIf="s.fileData; else aliasBlock">
  <img [src]="'data:image/png;base64,' + s.fileData" alt="profile" class="avatar-img" (error)="s.fileData = null" />
</ng-container>
<ng-template #aliasBlock>
  <div class="avatar-fallback">
    {{ getInitials(s.username) }}
  </div>
</ng-template> -->


