

  <!-- Navbar -->
  <!-- 103783 -->
   <app-navbar></app-navbar>
  
  <!-- Main Content -->
  <div class="container">
    <div class="row p-4">
      <h1>Dashboard</h1>
    </div>
    <div class="table-container">
      <div class="row">
        <div class="col-md-6"></div>
      </div>
      <br>
      <div class="d-flex justify-content-end">
        <h5><b>Total User: {{userData.totalElements}}</b></h5>
      </div>
        <div class="d-flex">
          <div class="search-container">
            <input type="text" placeholder="Search..." class="search-input search-box" [(ngModel)]="searchUserData" />
            <button class="search-btn" style="background-color: #0056d2;" (click)="searchUser()">
              <i class="bi bi-search"></i>  <!-- This shows a search icon -->
            </button>
          </div>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 {{ pageSize || 'Select Page Size' }}
            </button>
            <!-- <ul class="dropdown-menu" role="menu" [(ngModel)]="pageSize" (change)="onChangePageSize(pageSize)">
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>             -->
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li *ngFor="let p of page">
        <a class="dropdown-item" [routerLink]="['/dashboard']" (click)="onChangePageSize(p)">
        {{ p }}
        </a>
      </li>
  </ul>
  </div>
 
          <!-- <div>
            <select class="form-select" [(ngModel)]="pageSize" (change)="onChangePageSize(pageSize)">
              <option *ngFor="let p of page" [value]="p">{{ p }}</option>
            </select>
          </div> -->
          <button  class="btn text-light bg-primary" (click)="reset()">Reset</button>
          <!-- <button  class="btn text-light" style="background-color: #103783;" (click)="downlodUserReports()">Download Reports </button> -->
          
          <div class="dropdown">
            <button class="btn dropdown-toggle text-light bg-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false"
            
            >
              Download Reports
            </button>
            <ul class="dropdown-menu">
              <li style="cursor: pointer;"><a class="dropdown-item" (click)="downlodUserReports()"> 
                <i class="bi bi-file-earmark-spreadsheet-fill" style="color: #09cd44;font-size: 18px;"></i> Excel </a></li>
              <li style="cursor: pointer;">
                <a class="dropdown-item" (click)="downloadPdf()">
                  <i class="bi bi-filetype-pdf" style="color: rgb(211, 5, 5);font-size: 18px;"></i> Pdf </a></li>
            </ul>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <h5> Registered Users</h5>
          </div>
          <div class="col-md-6 d-flex justify-content-end">
            <div class="form-check mb-3" >
              <input
                class="form-check-input"
                type="checkbox"
                [(ngModel)]="showActiveOnly"
                (change)="onCheckboxChange()"
                id="activeCheckbox"
              />
              <label class="form-check-label" for="activeCheckbox">
                Show only active users
              </label>
            </div>
            
            
           <!-- {{userData.content.length}} -->
          </div>
        </div>
      <table *ngIf="userData?.content?.length > 0; else noData">
        <thead>
          <tr>
            <th>ID</th>
            <th>Img</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr><input type="text" class="w-100 form-control"></tr> -->
          <ng-container  *ngIf="showActiveOnly else elseBlock">
          <!-- <div *ngIf="showActiveOnly"> -->
          <tr *ngFor="let user of filteredUsers|filter:searchUserData;index as i">
            <!-- filter:searchUserData -->
            <td>{{i+1}}</td>
            <td>
              <!-- <img class="avatar" [src]="user.userImg" /> -->
              <ng-container *ngIf="user.userImg else aliasBlock">
  
                <!-- <img class="avatar" [src]="user.userImg" /> -->
                <img [src]="user.userImg" style="border-radius: 50%;height: 100px;width:100px;" alt="">
                
                <div style="background-color: #09cd44;border-radius: 50%;width: 15px;height: 15px;
                position: relative;bottom: 90px;left:80px
                " *ngIf="user.isActive==true">
                </div>

                <div style="background-color:rgb(233, 5, 5);border-radius: 50%;width: 15px;height: 15px;
                position: relative;bottom: 90px;left:80px
                " *ngIf="user.isActive==false">
                </div>
                <!-- <img [src]="user.userImg" style="border-radius: 50%;height: 100px;width:100px;" alt=""> -->
                <!-- <img [src]="'data:image/png;base64,' + s.fileData" alt="profile" class="avatar-img" (error)="s.fileData = null" /> -->
              </ng-container>

              <ng-template #aliasBlock>
                <div class="avatar-fallback">
                  {{ getInitials(user.userName) }}
                </div>
              </ng-template>

            </td>
            
            

            <td>{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td>
              <!-- viewUser -->
              <button class="view-btn" style="background-color:#e3edf8;">
                <a href="#" [routerLink]="['/viewUser',user.id]" class=" text-decoration-none">
                <i class="bi bi-eye-fill text-primary" style="font-size: 20px;"></i></a>
              </button>
              <button class="edit-btn" style="background-color:#e3edf8;">
                <a href="#" [routerLink]="['/updateUser',user.id]" class="text-light text-decoration-none">
                <i class="bi bi-pencil-square" style="color:#07aa38;font-size: 20px;"></i></a>
              </button>
              <button class="delete-btn" (click)="deleteById(user.id)" style="background-color:#e3edf8;">
                <i class="bi bi-trash-fill" style="color:rgb(211, 5, 5);font-size: 20px;"></i>
              </button>
            </td>
          </tr>
        </ng-container>

        <!-- if the checkbox is not checked.. -->
        <ng-template #elseBlock>
          <tr *ngFor="let user of userData.content|filter:searchUserData;index as i">
            <!-- filter:searchUserData -->
            <td>{{i+1}}</td>
            <td>
              <!-- <img class="avatar avatar-xs" [src]="user.userImg" /> -->
              <ng-container *ngIf="user.userImg else aliasBlock">
                <img [src]="user.userImg" style="border-radius: 50%;height: 100px;width:100px;" class="scale-125-hove" alt="">
                
                <div style="background-color: #09cd44;border-radius: 50%;width: 15px;height: 15px;
                position: relative;bottom: 90px;left:80px
                " *ngIf="user.isActive==true">
                </div>

                <div style="background-color:rgb(233, 5, 5);border-radius: 50%;width: 15px;height: 15px;
                position: relative;bottom: 90px;left:80px
                " *ngIf="user.isActive==false">
                </div>
                <!-- <img [src]="user.userImg" style="border-radius: 50%;height: 100px;width:100px;" alt=""> -->
                <!-- <img [src]="'data:image/png;base64,' + s.fileData" alt="profile" class="avatar-img" (error)="s.fileData = null" /> -->
              </ng-container>

              <ng-template #aliasBlock>
                <div class="avatar-fallback">
                  {{ getInitials(user.userName) }}
                </div>
              </ng-template>

            </td>
            
            

            <td>{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td>
              <button class="view-btn " style="background-color:#e3edf8;" >
                <a href="#" [routerLink]="['/viewUser',user.id]" class=" text-decoration-none">
                <i class="bi bi-eye-fill text-primary" style="font-size: 20px;"></i></a>
              </button>
              <button class="edit-btn" style="background-color:#e3edf8;">
                <a href="#" [routerLink]="['/updateUser',user.id]" class="text-light text-decoration-none">
                <i class="bi bi-pencil-square" style="color:#07aa38;font-size: 20px;"></i></a>
              </button>
              <button class="delete-btn" (click)="deleteById(user.id)" style="background-color:#e3edf8;">
                <i class="bi bi-trash-fill" style="color:rgb(211, 5, 5);font-size: 20px;"></i>
              </button>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
      <ng-template #noData class="bg-dark">
        <p>No data available.</p>
      </ng-template>
    </div>
    
  </div>
  <div>
    <div>
    </div>
  </div>
  <nav aria-label="Page navigation example" class="w-100" style="display: flex;justify-content: center;">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" aria-label="Previous" (click)="Onprevious()" class="btn onPrevious-btn bg-light" [class.disabled]="pageIndex == 0" >
          <span aria-hidden="true">&laquo;</span>
          <!-- <span class="sr-only">Previous</span> -->
        </a>
      </li>
      <li class="page-item"><a class="page-link">{{pageIndex + 1 }} of {{userData.totalPages}} pages</a></li>
      <!-- <li class="page-item"><a class="page-link">{{pageIndex + 1 }} of {{userData.page.totalPages}} pages</a></li> -->
      <li class="page-item">
        <!-- {{userData.last}} -->
        <a class="page-link" style="cursor: pointer;" aria-label="Next" (click)="OnNext()" [class.disabled]="userData.last==true">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li>
        
        <!-- <p>
          Total Records:{{pageSize}}
        </p> -->
        <p style="display: flex; position: absolute;right:250px">
          <!-- Total Pages:{{userData.totalPages}} -->
          <!-- <b> Total Records:{{userData.numberOfElements}} </b> -->
          <b> Total Records:{{userData.size}} </b>
        </p>
        <p>
          <!-- {{getsearchUserData.totalElements | json}} -->
        </p>
      </li>
    </ul>
  </nav>
<div class="row">

</div>
  <!-- <nav aria-label="Page navigation example" class="page" >
    <ul class="pagination d-flex justify-content-center">
      <li class="page-item">
        <p>
          Total Pages:{{userData.totalPages}}
        </p>
      </li>
      <li class="page-item">
      <button type="submit" (click)="Onprevious()" class="btn onPrevious-btn bg-light" [class.disabled]="pageIndex == 0"
        style="border: none;">
        Previous
      </button>
    </li>
    
      <li class="page-item"><a class="page-link active" href="#">{{pageIndex + 1 }}</a></li>
      <li class="page-item">
      <button type="submit" class="btn onNext-btn bg-light" style="border: none;" (click)="OnNext()" 
       [class.disabled]="userData.last==true">
        Next
      </button>
      </li>
    </ul>
  </nav> -->
  <!-- <p style="color: white;">{{userData | json}}</p> -->
  <!-- <div *ngFor="let user of userData">
    <p>{{user.u}}</p>
  </div> -->
<!-- <p class="text-light">
  {{userData | json}}
</p> -->
<!-- <p>        {{searchUserData.search}}</p> -->
<!-- <ng-container *ngIf="s.fileData; else aliasBlock">
  <img [src]="'data:image/png;base64,' + s.fileData" alt="profile" class="avatar-img" (error)="s.fileData = null" />
</ng-container>
<ng-template #aliasBlock>
  <div class="avatar-fallback">
    {{ getInitials(s.username) }}
  </div>
</ng-template> -->



<!-- {{userData | json}} -->
 <!-- <div class="row-12 p-5"> -->

  <!-- <div class="col-md-2">
    <div class="form-check mb-3">
      <input
        class="form-check-input"
        type="checkbox"
        [(ngModel)]="showActiveOnly"
        (change)="onCheckboxChange()"
        id="activeCheckbox"
      />
      <label class="form-check-label" for="activeCheckbox">
        Show only active users
      </label>
    </div> -->
    


    <!-- <div *ngFor="let user of filteredUsers" class="card mb-2 p-2">
      <img [src]="user.userImg" height="200px" alt="">
      <strong>{{ user.userName }}</strong>
      <p>{{user.address}}</p>
      <p>{{user.dob}}</p>
      <span class="badge" [ngClass]="user.isActive ? 'bg-success' : 'bg-secondary'">
        {{ user.isActive ? 'Active' : 'Inactive' }}
      </span>
    </div>
  </div> -->
 <!-- </div> -->

<!-- {{filteredUsers | json}} -->

<!-- {{userData | json}} -->

 <!-- {{filteredUsers | json}} -->
 <!-- <div class="alert alert-success" role="alert">
  <div class="d-flex gap-4">
    <span><i class="fa-solid fa-circle-check icon-success"></i></span>
    <div>
      File has been uploaded.
    </div>
  </div>
</div> -->
<!-- updated successfully -->

<!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
  <span><i class="fa-solid fa-circle-check icon-success"></i></span>
  User updated successfully
  <button type="button" class="btn-close btn-close-sm" data-bs-dismiss="alert" aria-label="Close"></button>
</div> -->

<!-- <div class="alert alert-warning" role="alert">
  <div class="d-flex gap-4">
    <span><i class="fa-solid fa-circle-exclamation icon-warning"></i></span>
    <div class="d-flex flex-column gap-2">
      <h6 class="mb-0">Cannot connect to the database</h6>
      <p class="mb-0">We are unable to save any progress at this time.</p>
    </div>
  </div>
</div> -->

<!-- <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">
          <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
            <path fill="currentColor" fill-rule="evenodd" d="M9.005 10.995l4.593-4.593a.99.99 0 111.4 1.4l-3.9 3.9 3.9 3.9a.99.99 0 01-1.4 1.4L9.005 12.41a1 1 0 010-1.414z"></path>
          </svg>
        </span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">
          <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
            <path fill="currentColor" fill-rule="evenodd" d="M14.995 10.995a1 1 0 010 1.414l-4.593 4.593a.99.99 0 01-1.4-1.4l3.9-3.9-3.9-3.9a.99.99 0 011.4-1.4l4.593 4.593z"></path>
          </svg>
        </span>
      </a>
    </li>
  </ul>
</nav> -->
<!-- <button type="button" class="btn btn-primary ...">
  <i class="animate-spin fas fa-cog"></i>
</button> -->
<!-- <p>
  {{userData | json}}
</p> -->